 .blank-layout {
    min-height: 100vh;
    height: auto;
    width: 100vw;
    color: #ffffff;

    

      background: url('src/assets/lock.png') center/cover no-repeat;
    background-size: 300% 300%;
    animation: animatedBackground 5s infinite alternate ease-in-out;
}

@media (max-width: 768px) {
    .blank-layout {
        padding: 0 5px;
    }
}


@keyframes animatedBackground {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}